{% extends "base.html" %}

{% block content %}
<h2>Crear Pedido</h2>

<form method="POST">

    <input class="form-control mb-2" type="text" name="fecha" placeholder="fecha">

    <input class="form-control mb-2" type="number" step="0.01" name="monto" placeholder="monto">

    <select class="form-control mb-2" name="cliente_id">
        {% for c in clientes %}
        <option value="{{c.id}}">{{c.nombre}}</option>
        {% endfor %}
    </select>

    <select class="form-control mb-2" name="producto_id">
        {% for p in productos %}
        <option value="{{p.id}}">{{p.nombre}}</option>
        {% endfor %}
    </select>

    <button class="btn btn-success">Guardar</button>
</form>

{% endblock %}